body {
      background:#f9d9ec;
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 0;
      padding: 50px;
    }
    h1 {
      color: #b03060;
    }
    .gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
      margin: 0 auto
    }
    .item {
      background: #fff;
      border-radius: 10px;
      padding: 10px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
    .item img {
      width: 100%;
      height: 350px;
      object-fit: cover;
      border-radius: 8px;
    }
    .price {
      margin-top: 50px;
      font-weight: bold;
      color:black;
      font-size: 18px;
    }
    a {
      display: inline-block;
      margin-top: 20px;
      text-decoration: none;
      color: #fff;
     background:pink;
      padding: 10px 20px;
      border-radius: 6px;
    }
    footer{
        text-align: center;
        padding: 40px;
        background: #ff5fa2;
        color: white;
        margin-top: 50px;
    }